@font-face {
	font-family: 'Raqillas-GOGdy';
	src: url(resources/fonts/Raqillas-GOGdy.eot);
	src: url(resources/fonts/Raqillas-GOGdy.eot?#iefix) format('embedded-opentype'),
		 url(resources/fonts/Raqillas-GOGdy.otf) format('otf'),
		 url(resources/fonts/Raqillas-GOGdy.svg#Raqillas-GOGdy) format('svg'),
		 url(resources/fonts/Raqillas-GOGdy.woff) format('woff'),
		 url(resources/fonts/Raqillas-GOGdy.woff2) format('woff2');
  }

body{
	background-color: rgb(250 248 244);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
	width: auto;
	color: rgb(66 86 123);
	font-size: 15px;
	margin-bottom: 300px;
}

.image-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
}

.image-text-overlay{
	display: flex;
	justify-content: center;
	flex-direction: column;
    align-items: center;
	text-align: center;
}

.title-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
    align-items: center;
	text-align: center;
	font-size: 3.5em;
}

.nav-container {
	display: flex;
	justify-content: center;
	text-align: center;
	
	font-size: 1.5em;
}

.nav-container href {
	padding: 1.5em;
}

.timeline-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
    align-items: center;
}

h1{
	text-align: center;
	font-size: 4em;
	/* font-family: 'Raqillas-GOGdy'; */
	font-style: italic;
	margin-block-end: 0.1em;
}
h2 {
	text-align: center;
	font-size: 2.0em;
}

p{
	text-align: center;
    font-size: 2.5em;
}
.text-container{
	text-align: center;
}

.split-text-container{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.line-seperator{
	padding: 0 20px 0 20px;
}

.rose-gold-text{
	color:rgb(188 146 147);
	font-size: 2.5em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: row;
}

.map-button{
	background-color:rgb(188 146 147);
	border-radius: 10px;
	font-size: 2.5em;
	width: 100%;
}

a{
	margin: 10px 20px 0px 20px;
	color: rgb(188 146 147);
}

.guest-label{
	font-size: 2em;
}

.guest-select{
	font-size: 2em;
}

.rsvp-form{
	display: flex;
	flex-direction: column;
    align-items: center;
}

.guest-submit{
	background-color:rgb(188 146 147);
	border-radius: 10px;
	font-size: 2.5em;
	width: 50%;
}